$background_color: #bbad9f;
$cell_color: #ccc1b3;

$background_color_2: #ede4da;
$background_color_4: #eee0c8;
$background_color_8: #f2b178;
$background_color_16: #f59562;
$background_color_32: #f67d5f;
$background_color_64: #f65e3a;
$background_color_128: #edcf71;
$background_color_256: #eecc61;
$background_color_512: #e9c950;
$background_color_1024: #ecc53d;
$background_color_2048: #efc32d;
$background_color_other: #3d3a32;

$text_color_light: #f9f6f2;
$text_color_dark: #766d64;
$text_color_2048: #776e65;
$text_color_score: #eee4da;

$font_size_cell_large: 55px;
$font_size_cell_small: 45px;

@mixin flexCenter($justify_content) {
	display: flex;
	justify-content: $justify_content;
	align-content: space-evenly;
}
