@import "./variables";

.board {
	margin: 0 auto;
	width: 80vw;
	max-width: 50vh;
	height: 80vw;
	max-height: 50vh;
	background-color: $background_color_body;
}

.board__row {
	display: flex;
}

.board__cell {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: $font_size_cell_large;
	font-weight: bold;
	background: $background_color;
	margin: 2.5px;
	color: $text_color_dark;
	font-weight: bold;
	flex: 1 0 auto;
	position: relative;
}

.board__cell:after {
	content: "";
	float: left;
	display: block;
	padding-top: 100%;
}
.board__cell .inner {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes newCellAnimation {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.board__cell__new {
	@extend .board__cell;
	animation: newCellAnimation 0.25s linear 0s;
}

.board__cell--2 {
	@extend .board__cell;
	background-color: $background_color_2;
}

.board__cell--4 {
	@extend .board__cell;
	background-color: $background_color_4;
}
.board__cell--8 {
	@extend .board__cell;
	color: $text_color_light;
	background-color: $background_color_8;
}
.board__cell--16 {
	@extend .board__cell;
	color: $text_color_light;
	background-color: $background_color_16;
}
.board__cell--32 {
	@extend .board__cell;
	color: $text_color_light;
	background-color: $background_color_32;
}
.board__cell--64 {
	@extend .board__cell;
	color: $text_color_light;
	background-color: $background_color_64;
}
.board__cell--128 {
	@extend .board__cell;
	color: $text_color_light;
	font-size: $font_size_cell_small;
	background-color: $background_color_128;
}
.board__cell--256 {
	@extend .board__cell;
	color: $text_color_light;
	font-size: $font_size_cell_small;
	background-color: $background_color_256;
}
.board__cell--512 {
	@extend .board__cell;
	font-size: $font_size_cell_small;
	background-color: $background_color_512;
}
.board__cell--1024 {
	@extend .board__cell;
	font-size: $font_size_cell_small;
	background-color: $background_color_1024;
}
.board__cell--2048 {
	@extend .board__cell;
	font-size: $font_size_cell_small;
	background-color: $background_color_2048;
}
.board__cell--other {
	@extend .board__cell;
	font-size: $font_size_cell_small;
	background-color: $background_color_other;
}

@media only screen and (max-width: 500px) {
	.board__cell {
		font-size: $font_size_cell_small;
	}

	.board__cell--2048,
	.board__cell--512,
	.board__cell--256,
	.board__cell--128 {
		font-size: $font_size_cell_smaller;
	}
}
