* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #faf8ef;
}
